
<font size="3" color="red" face="britannic bold"><h1 align="center">About</h1></font>
<font size="3" color="red" face="britannic bold"><p align="center">Hello my name is Ahmad, I created this web app so people can upload videos from gaming to real life and even music, with this web app you can make any type of videos and upload them to show how creative you are!</p></font>
<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://i.ytimg.com/vi/zr7SnVq4tnc/maxresdefault.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>With MyTube you can upload all of your creative skills in editing</p>
            </div>