<font size="10" color="red" face="britannic bold"<h1>contact</h1></font>
<p>you can find me here:</p>
<style>
       #map {
        width: 100%;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 31.973069, lng: 35.842853},
            zoom: 16
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZj1nBmBQbyuPxnZJPzOy8q-W1nQthnis&callback=initMap">
    </script>
    <p>Email: asfourahmad2@gmail.com</p>
    <p>Number: 0798582206</p>
    <i class="material-icons"></i>
